<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gen.auth.server.mapper.area.AreaMapper">
	<resultMap id="BaseResultMap" type="com.gen.auth.server.entity.area.Area">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="zone" jdbcType="VARCHAR" property="zone"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="sort" jdbcType="VARCHAR" property="sort"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
    </resultMap>

    <select id="tree" resultMap="BaseResultMap">
        SELECT id, name, parent_id FROM area WHERE del_flag = 0
        <if test="areaIds != null">
            AND id IN
            <foreach collection="areaIds" open="(" separator="," item="areaId" close=")">
                #{areaId}
            </foreach>
        </if>
    </select>

    <select id="treeByRootId" resultType="com.gen.auth.server.entity.area.Area">
        SELECT id, name, parent_id FROM area WHERE del_flag = 0 AND parent_id = #{rootId}
    </select>
</mapper>
